h1 {
	margin-bottom: 5%;
	border-bottom: 1px solid black;
}

label {
	font-weight: bold;
}

.form-group > input, .form-group > textarea, .mosaic-piece-group > input {
	width: 95%;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
}

.form-group > input[type="number"], .mosaic-piece-group > input {
	width: 5em;
}

.form-group {
	margin-top: 4%;
}
.form-group > input {
	height: 2.5em;
}

.radio-group > input {
	margin-right: 10px;
}

.mosaic-piece-group  {
	margin-top: 2%;
}
.mosaic-piece-group > label {
	font-weight: normal;
	padding-right: 10px;
}

#submit-button {
	margin-top: 4%;
	padding: 0.5em 1em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
	font-size: 1em;
	color: black;
	background-color: rgba(0, 140, 10, .8);
}
