main {
	/**
	 * This padding holds everything in place
	 * and doesn't add to the top edge distance.
	 */
	padding: 1px 0 5em;
}

section {
	margin: 20% 0;
	text-align: center;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin-top: 5%;
	text-align: left;
}

#login-submit-button {
	width: 140px;
	margin-top: 2%;
	padding: 0.5em 1em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
	font-size: 1em;
	color: black;
	background-color: rgba(0, 140, 10, .8);
}

.register-link-container {
	margin-top: 5%;
}

/* Medium screen size */
@media all and (min-width: 560px) {
	.form-group {
		align-items: center;
	}

	.robot-group {
		text-align: center !important;
	}
}
