<section id="slider-section">
	<div class="slider-image">
		<img src="img/slider-pic1.png" alt="Slika1" />
	</div>
	<div class="slider-text">
		<h1 class="slider-title">Mozaik 1</h1>
		<p class="slider-description">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Vestibulum scelerisque, est sed finibus molestie, arcu leo luctus velit, vel aliquam magna ante vel urna.
			Integer eu sapien hendrerit, porttitor enim et, laoreet nibh.
			Maecenas lobortis gravida blandit.
			Sed sapien massa, euismod in rhoncus porta, luctus fringilla ante.
			Vestibulum tincidunt risus ut nunc molestie efficitur.
			Sed rhoncus in sem nec facilisis.
			Proin tincidunt orci dignissim nibh pellentesque sodales.
			Integer eleifend eget est sed vehicula.
			Sed molestie pulvinar pharetra.
		</p>
	</div>
</section>
