<section>
	<h1>Prijava</h1>
	<form id="login-form" method="post">
		<div class="form-group">
			<label for="username">Uporabniško ime*</label>
			<input id="username" name="username" type="text" placeholder="Uporabniško ime" required />
		</div>
		<div class="form-group">
			<label for="password">Geslo*</label>
			<input id="password" name="password" type="password" placeholder="Geslo" required />
		</div>
		<div class="robot-group">
			<input id="robot" type="checkbox" name="robot" required />
			<label for="robot">Nisem robot</label>
		</div>
		<button id="login-submit-button" type="submit">Prijavi se</button>
	</form>
	<div class="register-link-container">
		<a id="register-link" href="register">Registriraj se</a>
	</div>
</section>
