<section>
	<h1>Nastavitve računa</h1>
	<form id="mosaic-form" method="post">
		<div class="form-group">
			<label for="user-email">Epošta</label>
			<input id="user-email" type="email" name="user-email" placeholder="Epošta" />
		</div>
		<div class="form-group">
			<label for="user-password-old">Trenutno geslo<span class="require">*</span></label>
			<input id="user-password-old" type="password" name="user-password-old" placeholder="Trenutno geslo" required />
		</div>
		<div class="form-group">
			<label for="user-password-new">Novo geslo</label>
			<input id="user-password-new" type="password" name="user-password-new" placeholder="Novo geslo" />
		</div>
		<div class="form-group">
			<label for="user-password-confirm">Potrditev gesla</label>
			<input id="user-password-confirm" type="password" name="user-password-confirm" placeholder="Potrditev gesla" />
		</div>
		<button id="submit-button" type="submit">Shrani</button>
	</form>
</section>
