#nav-button {
	display: none;
}

#nav-button-label {
	display: block;
	height: 50px;
	width: 50px;
	background: rgba(0, 0, 0, .8);
	border-radius: 80%;
}
#nav-button-label:before, :after {
	height: 5px;
	width: 25px;
	content: ""
	background: white;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.full-line {
	height: 5px;
	width: 25px;
	background: white;
	-webkit-transition: all .4s ease ;
	transition: all .4s ease ;
}

/*
On checking:
	- hide solid line div
	- rotate label's before and after background
	- show menu
*/
#nav-button:checked .full-line {
	opacity: 0;
}
#nav-button:checked #nav-button-label:before {
	transform: rotate(-45deg);
}
#nav-button:checked #nav-button-label:after {
	transform: rotate(45deg);
}
#nav-button:checked #nav-menu {
	display: block;
}
