<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name = "viewport" content = "text/html width=device-width, initial-scale=1" />
		<title>Foto Mozaik</title>
		<link rel="stylesheet" type="text/css" href="{{ @shared_front }}style/base.css" />
		<link rel="stylesheet" type="text/css" href="{{ @shared_front }}style/admin-panel.css" />
		<link rel="stylesheet" type="text/css" href="{{ @shared_front }}style/contact.css" />
		<link rel="stylesheet" type="text/css" href="{{ @shared_front }}style/form.css" />
		<link rel="stylesheet" type="text/css" href="{{ @shared_front }}style/home.css" />
		<link rel="stylesheet" type="text/css" href="{{ @shared_front }}style/story.css" />
		<check if="{{ @@loginpage }}">
			<link rel="stylesheet" type="text/css" href="{{ @shared_front }}style/login.css" />
		</check>
		<check if="{{ @@mosaicpage }}">
			<link rel="stylesheet" type="text/css" href="{{ @shared_front }}style/mosaic.css" />
		</check>
		<script type="text/javascript" src="{{ @shared_front }}script/base.js"></script>
		<script type="text/javascript" src="{{ @shared_front }}script/admin-panel.js"></script>
	</head>
	<body>
		<header>
			<div class="menu-image-container">
				<input id="menu-open" type="image" src="{{ @shared_front }}image/menu-open.png" width="35" height="23" alt="Menu" />
				<input id="menu-close" type="image" src="{{ @shared_front }}image/menu-close.svg" width="35" height="23" alt="Zapri" />
			</div>
			<div id="logo-container">
				<a href="/"><img src="{{ @shared_front }}image/logo.png" width="95" height="30" alt="Mozaik" /></a>
			</div>
			<div id="login-button-container">
				<check if="{{ @@SESSION.user_id }}">
					<true>
						<a id="login-button" href="logout">Odjava</a>
					</true>
					<false>
						<a id="login-button" href="login">Prijava</a>
					</false>
				</check>
			</div>
		</header>
		<main>
			<nav id="navigation" class="nav-hide">
				<ul>
					<li>
						<a href="/">Domov</a>
					</li>
					<li>
						<a href="story">Zgodba</a>
					</li>
					<repeat group="{{ @mosaics }}" value="{{ @mosaic }}" counter="{{ @ctr }}">
						<li>
							<a href="mosaic/{{ @mosaic['mosaic_id'] }}">Mozaik {{ @ctr }}</a>
						</li>
					</repeat>
					<li>
						<a href="contact">Kontakt</a>
					</li>
				</ul>
			</nav>
			<include href="{{ @content }}" />
		</main>
		<footer>
			<p>
				&copy; 2016
			</p>
		</footer>
	</body>
</html>
